.flex {
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
}

nav * {
  text-decoration: none;
}

.menu {
  margin-top: 7px;
  gap: 1rem;
  margin-left: 1rem;
}

.app {
  margin-top: 2rem;
  margin-left: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.books {
  margin-top: 1rem;
  background-color: #fff;
  width: 90%;
}

.gap-1 {
  gap: 0.5rem;
}

.control {
  margin-top: 0.5rem;
}

.fade {
  color: #898989;
}

.add-books {
  margin-top: 2rem;
}

input[type="text"] {
  background-color: #fff;
  width: 30vw;
  height: 5vh;
  border: 1px solid #ededed;
}

input[type="select"] {
  background-color: #fff;
  border: 1px solid #ededed;
}

button {
  border: none;
  background-color: transparent;
  color: #898989;
  margin-top: 5px;
}

form button {
  cursor: pointer;
  padding: 0 2rem;
  background-color: #0290ff;
  border: 0 solid #0290ff;
  border-radius: 5px;
}

form button * {
  color: #ededed;
  font-weight: bold;
}
